---
import Layout from '@layouts/Layout.astro';
import Thumbnail from '@components/common/Thumbnail.astro';
import Breadcrumb from '@components/common/Breadcrumb.astro';
import { getCategories } from '../../utils/images';
import { getContent } from '../../utils/contentLoader';
import type { CategoryInfo } from '../../utils/images';
import Text from '@components/common/Text.astro';
import Section from '@components/common/Section.astro';
import SecondaryPage from '@components/common/SecondaryPage.astro';

export const prerender = true;

export async function getStaticPaths() {
  const categories = await getCategories();

  return categories.map((category) => ({
    params: { category: category.slug },
    props: { category },
  }));
}

const { category } = Astro.props;

const categoryContent = await getContent('categories');
if (!categoryContent) {
  return Astro.redirect('/404');
}
const { frontmatter } = categoryContent;

const categoryTitle =
  frontmatter.categories[category.slug]?.title || category.name;
const categoryDescription =
  frontmatter.categories[category.slug]?.description || '';

const breadcrumbItems = [
  { label: 'Usluge', href: '/usluge' },
  { label: categoryTitle, href: `/usluge/${category.slug}` },
];
---

<SecondaryPage
  title={categoryTitle}
  description={categoryDescription}
  breadcrumbs={breadcrumbItems}
>
  <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
    {
      category.projects.map((project) => (
        <Thumbnail
          image={project.coverImage}
          title={project.name}
          description={project.description}
          link={`/usluge/${category.slug}/${project.slug}`}
        />
      ))
    }
  </div>
</SecondaryPage>
