---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import contactBackground from '../assets/photos/kancelarija-2.jpg';
import Text from '@components/common/Text.astro';
import Icon from '@components/common/Icon.astro';
import { getCollection } from 'astro:content';

export const prerender = true;
const contactContent = await getCollection('contact');
const settingsContent = await getCollection('settings');
if (!contactContent || !settingsContent) {
  return Astro.redirect('/404');
}

const contactContentData = contactContent[0];
const settingsContentData = settingsContent[0];
---

<Layout title='Kontakt | NoDesign'>
  <div
    class='relative min-h-screen flex items-center justify-center p-4 pt-20 md:pt-4'
  >
    <Image
      src={contactBackground}
      alt='NoDesign office background'
      class='absolute inset-0 object-cover w-full h-full'
      loading='eager'
    />
    <div class='absolute inset-0 bg-black opacity-60'></div>
    <div class='absolute inset-0 container flex flex-col pt-40'>
      <Text
        level='h1'
        color='light'
        class='mb-4'
        >{contactContentData.data.title}</Text
      >
      <div>
        <Text
          level='body'
          color='light'
          class='mb-10'
          >{contactContentData.data.description}</Text
        >
      </div>

      <div class='mt-6 md:mt-8 flex flex-col gap-3'>
        {
          settingsContentData.data.contactInfo.map((socialMedia) => (
            <a
              href={socialMedia.link}
              target='_blank'
              rel='noopener noreferrer'
              class='contact-link'
            >
              <Icon
                name={socialMedia.icon}
                width={20}
                height={20}
              />
              <span>{socialMedia.label}</span>
            </a>
          ))
        }
        {
          settingsContentData.data.socialMedia.map((socialMedia) => (
            <a
              href={socialMedia.url}
              target='_blank'
              rel='noopener noreferrer'
              class='contact-link'
            >
              <Icon
                name={socialMedia.icon}
                width={20}
                height={20}
              />
              <span>{socialMedia.label}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  @media (max-height: 700px) {
    .min-h-screen {
      min-height: calc(100vh + 4rem);
    }
  }

  .contact-link {
    @apply text-white hover:text-primary hover:fill-primary transition duration-300 flex items-center text-xl gap-2 bg-primary hover:bg-white p-3 max-w-[400px];
  }
</style>
