---
import type { ProjectInfo } from '../../utils/images';
import Thumbnail from '@components/common/Thumbnail.astro';
import Text from '@components/common/Text.astro';
import Section from '@components/common/HomeSection.astro';

interface FeaturedProject {
  category: string;
  categorySlug: string;
  project: ProjectInfo;
}

interface Props {
  title: string;
  description: string;
  featuredProjects: FeaturedProject[];
}

const { title, description, featuredProjects } = Astro.props;
---

<Section
  title={title}
  titleColor='secondary'
>
  <Text
    level='body'
    themed
    class='text-center mb-8'
    >{description}</Text
  >
  <div class='grid md:grid-cols-3 gap-8'>
    {
      featuredProjects.map(({ category, categorySlug, project }) => (
        <Thumbnail
          image={project.coverImage}
          title={project.name}
          description={category}
          link={`/usluge/${categorySlug}/${project.slug}`}
        />
      ))
    }
  </div>
</Section>
