---
import type { CategoryInfo } from '../../utils/images';
import Thumbnail from '@components/common/Thumbnail.astro';
import Text from '@components/common/Text.astro';
import Section from '@components/common/Section.astro';

interface Props {
  title: string;
  description: string;
  categories: CategoryInfo[];
}

const { title, description, categories } = Astro.props;
---

<Section
  title={title}
  backgroundColor='bg-background-light dark:bg-background-dark'
>
  <Text
    level='body'
    class='text-center mb-8'
    themed
    >{description}</Text
  >
  <div class='grid md:grid-cols-3 gap-8'>
    {
      categories.map((category) => (
        <Thumbnail
          image={category.projects[0]?.coverImage || '/api/placeholder/600/400'}
          title={category.name}
          description={category.description}
          link={`/galerija/${category.slug}`}
        />
      ))
    }
  </div>
</Section>
