---
import Text from '@components/common/Text.astro';
import FooterList from './FooterList.astro';
import Icon from './common/Icon.astro';

const currentYear = new Date().getFullYear();

const quickLinks = [
  { text: 'Kancelarijski prostori', link: '/galerija/kancelarijski-prostor' },
  { text: 'Namještaj po mjeri', link: '/galerija/namjestaj-po-mjeri' },
  { text: 'Uređenje doma', link: '/galerija/uredjenje-doma' },
  { text: 'O nama', link: '/o-nama' },
  { text: 'Kontakt', link: '/kontakt' },
];

const contactInfo = [
  { text: 'Email: info@nodesign.ba' },
  { text: 'Telefon: +387 65 010 641' },
  { text: 'Adresa: Ulica i broj, Grad' },
];

const socialLinks = [
  {
    name: 'Facebook',
    icon: 'social-facebook-white',
    url: 'https://facebook.com',
  },
  {
    name: 'Instagram',
    icon: 'social-instagram-white',
    url: 'https://instagram.com',
  },
] as const;
---

<footer
  class='bg-secondary dark:bg-secondary-dark text-text-light dark:text-text-dark'
>
  <div class='container mx-auto px-4 py-12'>
    <div class='grid grid-cols-1 md:grid-cols-3 gap-8'>
      <div>
        <Icon
          name='nodesign-brand-light'
          width={200}
          class='mb-4'
        />
        <Text
          level='small'
          color='light'
        >
          Spajamo tradicionalno zanatstvo sa modernim dizajnom kako bismo
          stvorili jedinstvene prostore i namještaj koji odražavaju vašu
          osobnost.
        </Text>
      </div>
      <FooterList
        title='Brzi linkovi'
        items={quickLinks}
      />
      <FooterList
        title='Kontakt informacije'
        items={contactInfo}
      />
    </div>
    <div
      class='border-t border-neutral-700 mt-8 pt-8 flex flex-col md:flex-row justify-between items-center'
    >
      <Text
        level='small'
        color='light'
      >
        &copy; {currentYear} NoDesign. Sva prava zadržana.
      </Text>
      <div class='flex space-x-4 mt-4 md:mt-0'>
        {
          socialLinks.map((link) => (
            <a
              href={link.url}
              target='_blank'
              rel='noopener noreferrer'
              class='text-text-light dark:text-text-dark hover:text-primary dark:hover:text-primary-light transition-colors'
            >
              <Icon
                name={link.icon}
                width={24}
                height={24}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
