---
import Icon from '@components/common/Icon.astro';
import Text from '@components/common/Text.astro';
import type { IconType } from '@utils/schemas/icons';

interface ListItem {
  label: string;
  url?: string;
  icon?: IconType;
}

interface Props {
  title: string;
  items: ListItem[];
}

const { title, items = [] } = Astro.props;
---

<div>
  <Text
    level='h3'
    themed
    class='mb-4'
  >
    {title}
  </Text>
  <ul class='space-y-2'>
    {
      items.map((item) => (
        <li>
          {item.url ? (
            <a
              href={item.url}
              class:list={[
                {
                  'flex items-center gap-2': item.icon,
                },
              ]}
            >
              {item.icon && (
                <Icon
                  name={item.icon}
                  width={24}
                  height={24}
                />
              )}
              {item.label}
            </a>
          ) : (
            <Text
              level='small'
              themed
            >
              {item.label}
            </Text>
          )}
        </li>
      ))
    }
  </ul>
</div>
