---
import Text from '@components/common/Text.astro';
import Icon from '@components/common/Icon.astro';
import FooterList from './FooterList.astro';
import { getCollection } from 'astro:content';

const currentYear = new Date().getFullYear();
const settings = await getCollection('settings');
if (!settings) {
  return Astro.redirect('/404');
}
const data = settings[0].data;
---

<footer class='bg-secondary dark:bg-secondary-dark'>
  <div class='container mx-auto px-4 py-12'>
    <div class='grid grid-cols-1 md:grid-cols-3 gap-8'>
      <div>
        <Icon
          name='nodesign-brand'
          width={200}
          class='mb-4'
        />
        <Text
          level='small'
          color='light'
        >
          {data.description}
        </Text>
      </div>
      <FooterList
        title='Brzi linkovi'
        items={settings[0].data.navigation}
      />
      <FooterList
        title='Kontakt informacije'
        items={data.contactInfo}
      />
    </div>
    <div
      class='border-t border-neutral-700 mt-8 pt-8 flex flex-col md:flex-row justify-between items-center'
    >
      <Text
        level='small'
        color='light'
      >
        &copy; {currentYear} NoDesign. Sva prava zadržana.
      </Text>
      <div class='flex space-x-4 mt-4 md:mt-0'>
        {
          data.socialMedia.map((link) => (
            <a
              href={link.url}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Icon
                name={'home'}
                width={24}
                height={24}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
