---
import Link from '@components/common/Link.astro';
import Text from '@components/common/Text.astro';
import type { IconType } from '@utils/schemas/icons';

interface ListItem {
  label: string;
  url?: string;
  icon?: IconType;
}

interface Props {
  title: string;
  items: ListItem[];
}

const { title, items = [] } = Astro.props;
---

<div>
  <Text
    level='h4'
    themed
    class='mb-4'
    label={title}
  />
  <ul class='space-y-4'>
    {
      items.map((item) => (
        <li>
          {item.url ? (
            <Link
              href={item.url}
              label={item.label}
              icon={item.icon}
            />
          ) : (
            <Text
              level='body'
              themed
              label={item.label}
            />
          )}
        </li>
      ))
    }
  </ul>
</div>
