---
import Text from './Text.astro';

interface Props {
  image: string;
  title: string;
  description?: string;
  link: string;
}

const { image, title, description, link } = Astro.props;
---

<a
  href={link}
  class='group'
>
  <div class='relative overflow-hidden rounded-lg aspect-[4/3] max-h-[400px]'>
    <img
      src={image}
      alt={title}
      class='object-cover w-full h-full transition-transform duration-300 group-hover:scale-105'
    />
    <div
      class='absolute inset-0 bg-gradient-to-t from-black/70 to-black/30 flex flex-col justify-end p-6'
    >
      <Text
        level='h3'
        color='light'
        themed={false}
        class='mb-2'
        >{title}</Text
      >
      {
        description && (
          <Text
            level='small'
            color='light'
            class='lipne-clamp-2'
            themed={false}
          >
            {description}
          </Text>
        )
      }
      <slot />
    </div>
  </div>
</a>
